/* all pages */

html {
  background-image: url("../images/Background2.jpg") ;
}

body {background-color: rgba(255,255,255,13%)
}

footer {
  margin: 20px;
  font-size: 12px;
  color:rgb(0, 0, 0)
} 
  
.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
}

.article-container {
  margin: auto;
}

.card {
  width:200px; 
  height: 700px; 
  margin-bottom: 20px;  
  background-color:rgba(225, 249, 255, 0.788);

}

.card-header {
  height: 5em;
  background-color: rgba(179, 199, 204, 0.788);
}

.card-text {
  min-height:10em
}

/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 20px;
  margin-top: 20px;
}


.cropped {
  object-fit: cover;
}

.product > .card-header {
  height:3em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px
}

.introductie{
  background-color: rgba(225, 249, 255, 0.418);
}

.Koptekst{
  -webkit-text-stroke: 0.2px rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(0, 0, 0);
}

.product_title{
  color:rgb(0, 0, 0)
}



/*Image frontpage effect*/

.product img {
  margin: auto;
  margin-top: 20px;
  object-fit: cover;
  display: block;
  
}


.Yes {
  position: relative;
  width: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgb(168, 187, 192);
}

.Yes:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 100px;
  left: 100px;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}




/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px"
}

.product_row  .product-properties  li {
  width: 20%;
  float: left;
}




